In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\javva\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\javva\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

In [5]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023A10B6CD30>

In [6]:
mycursor=mydb.cursor()

In [7]:
mycursor.execute('SHOW DATABASES')

In [8]:
for i in mycursor:
    print(i)

('assignment',)
('assignment_1',)
('assignment_2',)
('aws',)
('class',)
('class_1',)
('information_schema',)
('mysql',)
('performance_schema',)
('project',)
('sakila',)
('sys',)
('telusuga',)
('world',)

In [9]:
mycursor.execute('create database python')

In [11]:
mycursor.execute('use python')

In [16]:
mycursor.execute(
    '''
create table test_1
(
    car_name varchar(100),
    mileage float(40),
    cylinders integer(100),
    displacement float(40),
    horsepower float(30),
    weight float(30),
    acceleration float(30),
    model integer(100),
    origin varchar(100)
)
'''
)